<%- include ("./partials/_header") %>




<h1 id="menuTitle">Menu</h1>
<hr class="hrMenu">
 <div class="menu"> 
     
     <% for (var i =0; i < foods.length; i++)  {     %>
             
         <div class="dish">
             <img src=' <%= foods[i].img %> ' alt="logo"  height="200" width="200" class="foodImg">
             <div class="content">
                 <strong><%= foods[i].name %></strong> 
                 <p></p>
                 <p>Precio: <%= foods[i].price %> $</p> 
                 <p>Calorias: <%= foods[i].calories %></p> 
                 <p>Proteinas: <%= foods[i].protein %></p> 
                 <p>Grasas: <%= foods[i].fat %></p> 
             </div>
             <p class="descriptionText"><%= foods[i].description %></p>
         </div>    
     <%  }  %> 
 </div>









<%- include ("./partials/_footer") %>